<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welome to the Converter Test</h1>
    <form action="submit_form" method='post'>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="id">ID:</label>
        <input type="number" id="id" name="id" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>